body {
    margin-top: 10px;
}

.nav-brand a{
    color:#BD2C0D;
    margin-left: 100px;
    text-decoration: none;
}
.nav-links {
    margin-right: 100px;
}
#register_btn {
    margin-left: 10px;
}
#clone {
    margin-top: 100px;
}
footer {
    position: relative;
    margin-bottom: 0px;
    bottom: 10px;
    text-align: center;
}
.social-icons a{
    margin-left: 100px;
}